information-linking-queries
SPARQLWrapper
spacy>=3.8.16,<3.9.0
git+https://github.com/explosion/spacy-transformers.git
ipywidgets
notebook
widgetsnbextension
wget
wtpsplit
srsly
pyspark
rdflib
sparknlp
spark-nlp-display
